
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: cyan;
  background-image: url('./../images/swirl.png');
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navbar {
  height: 50px;
  width: 100%;
  background-color: black;
  margin: 0px;
  opacity: 0.5;

  .navlogo {
  }
}

.view {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.user {
  color: white;
  font-family: Arial;
  font-size: 20px;
  float: right;
  margin-right: 15px;
  padding: 5px;
  height: 35px;
  line-height: 35px;

  a {
    color: white;
    text-decoration: none;
    transition: 0s ease;
  }
}

.info {
  color: red;
  height: 350px;
  width: 100%;
  background-color: orange;
  text-align: center;
  background-image: url('http://chromecastbg.alexmeub.com/images/1200_AF1QipM_vC9YgtVyjZ3-GCh4e0xy_PtaurtcaaiK5sMd.jpg');
  background-position: 50% 75%;
  margin-bottom: 15px;
  box-shadow : rgba(0,0,0,.2) 3px 5px 5px;
}

.events {
  background-color: red;
  min-width: 100px;
  min-height: 150px;
}

.eventsmain {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
}

.addEvent {
  flex: 0 0 100%;
  width: 100px;
  height: 100px;
}

.eventscontent {
  flex: 0 0 100%;
  min-width: 100px;
  min-height: 100px;

  .eventscolumn {
    a {
      text-decoration: none;
    }
  }
}