@import "./../node_modules/include-media/dist/_include-media";

$breakpoints: (
  'phone': 420px,
  'tablet': 768px,
  'desktop': 1024px
);

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

///// **VARIABLES**

$black: #0F0F0E;
$gray: #575450;
$tan: #F4F3D5;
$mont: 'Montserrat', sans-serif;
$sixCaps: 'Six Caps', sans-serif;
$percent: 100%;
$flexFull: 0 0 100%;
$flexHalf: 0 0 50%;
$charcoal-bg: url('./../images/charcoal-bg.png');
$tan-bg: url('./../images/tan-bg.jpg');
$leaves: url('./../images/leaves.svg');
$vendor: url('./../images/small-vendors.svg');
$smallLeaves: url('./../images/small-leaves.svg');

///// **MIXINS**

@mixin flexDisplayRow {
  display: flex;
  flex-flow: row wrap;
}

@mixin centerer {
  position: absolute;
  top: $percent/2;
  left: $percent/2;
  transform: translate(-$percent/2, -$percent/2);
}

@mixin menuPlacement {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 50px;
}

///// **MAIN STYLING**

body {
  @include flexDisplayRow;
  background-image: $charcoal-bg;
  justify-content: center;
}

.mainTitleBar {
  height: 50px;
  width: $percent;
  background-color: $black;
  font-family: $mont;
  color: $gray;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  position: fixed;
  z-index: 1;

  .mobileNav {
    @include media( ">phone") {
      display: none;
    }

    @include menuPlacement;
    width: 50px;

    .hamburgerHack1 {
      @include centerer;
      height: 20px;
      width: 20px;
      border-top: 2px solid $gray;
      border-bottom: 2px solid $gray;

      .hamburgerHack2 {
        @include centerer;
        height: 2px;
        width: 15px;
        border: 1px solid $gray;
      }
    }
  }
}

.mobileMenu {
  @include media( ">phone") {
    display: none;
  }

  width: 100px;
  position: fixed;
  top: 50px;
  right: 0;
  background-color: $black;
  font-family: $mont;
  text-align: center;
  padding: 5px;
  font-size: 1.0em;
  z-index: 100;
  height: 0;
  opacity: 0;
  transition: height 0.25s linear;
  transition: opacity 0.25s linear;

  ul {
    height: 0;
    opacity: 0;
  }

  li {
    list-style-type: none;
    border-top: 1px solid $gray;
    height: 0;
    opacity: 0;
  }

  a {
    text-decoration: none;
    color: $gray;
    height: 0;
    opacity: 0;
  }
}

.mobileMenu.menuOn {
  height: 70px;
  opacity: 1;

  ul {
    height: auto;
    opacity: 1;
  }

  li {
    height: auto;
    opacity: 1;
  }

  a {
    height: auto;
    opacity: 1;
  }
}


.navbarButtonContainer {
  @include media( "<=phone" ) {
    display: none;
  }


  @include flexDisplayRow;
  @include menuPlacement;
  line-height: 50px;
  font-family: $mont;
  z-index: 1;

  .navbarButton {
    font-size: 0.8em;
    font-weight: 700;
    margin-right: 10px;
    align-self: center;

    a {
      color: $tan;
      text-decoration: none;
      transition: 0s ease;
    }
  }
}


.view {
  @include flexDisplayRow;
  width: $percent;
  justify-content: center;
  margin-top: 60px;
}

.eventsContent {
  flex: 0 0 $percent * 0.8;

  @include media( ">phone", "<=tablet" ) {
    flex: 0 0 $percent * 0.39;
    margin: 15px;
  }
  @include media( ">tablet" ) {
    flex: 0 0 $percent * 0.29;
    margin: 15px;
  }

  margin: 20px 0px;
  box-shadow: 3px 3px 5px 6px $gray - 15;

  a {
    text-decoration: none;
  }
}

.eventContainer {
  @include flexDisplayRow;
  height: 500px;
  width: $percent;
  background-image: $tan-bg;
  text-align: center;
  justify-content: center;

  .eventTopHalf {
    position: relative;
    flex: $flexFull;
    height: $percent/2;

    .eventName {
      @include centerer;
      font-family: $sixCaps;
      color: $gray;
      font-size: 4em;
      line-height: 110%;
      padding: 5% 10%;
    }
  }

  .separatorLine {
    height: 0.5%;
    flex: $flexHalf;
    background-color: $tan - 20;
  }

  .eventBottomHalf {
    @include flexDisplayRow;
    flex: $flexFull;
    height: $percent/2;
    font-family: $mont;
    color: $gray;
    justify-content: center;
    font-size: 0.7em;
    font-weight: 700;
    line-height: 90%;

    .eventDays {
      flex: $flexFull;
      margin-top: 7%;
    }

    .eventTimes {
      flex: $flexFull;
    }

    .eventLocation {
      flex: $flexFull;
      height: $percent/5;
    }

    .eventLogo {
      flex: 0 0 30%;
      height: $percent * 0.3;
      margin-bottom: 7%;
      background-image: $leaves;
      background-size: cover;
    }
  }
}

// ============ Vendor View Layout
.eventVendorsMain {
  @include flexDisplayRow;
  height: 100%;
  width: 100%;
  justify-content: center;
  font-family: Arial;
}

.vendorNavBar {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100%;
  margin: 3px 0px;
  justify-content: center;
  align-content: space-between;

  a {
    text-decoration: none;
  }
}

.listingButton {
  flex: 0 0 40%;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  opacity: 0.90;
  color: #E7DDD4;
  box-shadow: 2px 2px #221F1C;
}

.listingButton.vendorButton {
  margin-right: 1px;
  background-color: #896544;
  border: 1px solid #361D06;
  text-shadow: 1px 1px 2px #361D06;
  box-shadow: 2px 2px 2px #361D06;
}

.listingButton.productButton {
  margin-left: 1px;
  background-color: #8DAD8B;
  border: 1px solid #0D2D05;
  text-shadow: 1px 1px 2px #0D2D05;
  box-shadow: 2px 2px 2px #0D2D05;
}

//================== Vendor Listing Cards

.vendorTab {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.vendorListingCard {
  height: 250px;
  width: 95%;
  margin: 5px 0px;
  border: 1px solid #361D06;
  border-radius: 5px;
  text-shadow: 2px 2px 3px #361D06;
  box-shadow: 2px 2px 2px #361D06;
}

.vendorContent {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  width: 100%;
  height: 250px;
}

.vendorCompanyName {
  flex: 0 0 100%;
  height: 15%;
  font-size: 1.5em;
  background-color: #896544;
  color: #E7DDD4;
  opacity: 0.90;
  text-align: center;
  padding-top: 4px;
}

.vendorCompanyPic {
  flex: 0 0 75%;
  height: 85%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featuredProducts {
  flex: 0 0 25%;
  height: 85%;
}

.productPics {
  flex: 0 0 60%;
  height: 50%;
}

// ============= Product Listing Cards

.allProductsList {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  border: 1px solid blue;
}

.productBox {
  flex: 0 0 50%;
  height: 100px;
  border: 1px solid orange;

}

.productContent {
  flex: 0 0 50%;
  border: 1px solid red;
}

.productPic {
  flex: 0 0 100%;
  height: 75%;
  border: 1px solid green;
}

.productName {
  flex: 0 0 100%;
  height: 75%;
  border: 1px solid purple;
}

.vendorPrivatePage {
  justify-content: left;
}

.postProductDiv {
  margin-top: 20px;
}


.error {
  color : red;
  font-weight : 700;
}

///// **LOGIN PAGE**

.loginMainWrapper {
  @include flexDisplayRow;
  width: 100%;
  margin: 30px 0px;
  justify-content: center;
  font-family: $mont;
  color: $tan;
}

.chooseLoginWrapper {
  @include flexDisplayRow;
  height: auto;
  flex: $flexFull;
  justify-content: center;

  @mixin loginToggleBtn {
    height: 100px;
    width: 100px;

    @include media( ">phone", "<=tablet" ) {
      height: 150px;
      width: 150px;
    }

    margin-right: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid $tan;
    box-shadow: 3px 3px 5px 6px $gray - 15;
  }

  .chooseVendor {
    @include loginToggleBtn;
    background-image: $vendor;
  }

  .chooseUser {
    @include loginToggleBtn;
    background-image: $smallLeaves;
  }
}

.loginWrapper {
  @include flexDisplayRow;
  flex: 0 0 85%;
  height: 300px;
  margin: 40px 0px;
  padding: 5px;
  background-image: $charcoal-bg;
  border: 2px solid $tan;
  box-shadow: 3px 3px 5px 6px $gray - 15;

  .loginTitle {
    flex: 0 0 70%;
    height: 20%;
    margin-top: 20px;
    padding: 5px 0px 0px 5px;

    span {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }

  .vendorLoginLogo {
    flex: 0 0 30%;
    background-image: $vendor;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .userLoginLogo {
    flex: 0 0 30%;
    background-image: $smallLeaves;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.loginForm {
  @include flexDisplayRow;
  flex: $flexFull;
  padding: 10px;

  .loginSubmitBtn {
    font-family: $mont;
    color: $tan;
    border: 2px solid $tan;
    height: 30px;
    width: 80px;
    background-image: $charcoal-bg;
    box-shadow: 1px 1px 2px 3px $gray - 15;
  }
}
// ============= Vendor Listing by Event

.vendorHeader {
  @include flexDisplayRow;
  justify-content: center;
  background-color: orange;
  height: 400px;
  width: 100%;

  .vendorName {
    flex: 0 0 100%;
    text-align: center;
    font-size: 5em;
    // margin-top: 25px;
    // margin-bottom: 25px;
    background-color: white;
    font-family: $sixCaps;
  }

  .vendorDays {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: -40px;
    background-color: red;
    font-family: $mont;
  }

  .vendorTime {
    flex: 0 0 100%;
    text-align: center;
    margin-top: -40px;
    background-color: white;
    font-family: $mont;
  }

  .vendorAddress {
    flex: 0 0 100%;
    text-align: center;
    background-color: red;
    font-family: $mont;
  }
}

.list-wrapper {
  position:absolute;
  width:300px;
  height:150px;
  top:40%;
  margin-top:-75px;
  left:50%;
  margin-left:-150px;
}

.label{
  padding:5px 0px;
  text-align:center;
}
.inputA {
  width:230px;
  height:30px;
  outline:none;
  padding:0px 10px;
  margin:0px auto;
  display:block;
}
.suggestions-list {
  position: absolute;
  list-style-type: none;
  margin: 0 0 0 23px;
  padding: 0;
  overflow: auto;
}
.suggestions-list li {
  color: red;
  padding: 10px 10px;
  height:10px;
  cursor: pointer;
  background: tan;
  border-bottom: 1px solid green;
  width:234px;
}
.suggestions-list li:hover {
  background: yellow;
}
.suggestions-list li:active,
.suggestions-list li.active {
  color: #FFFFFF;
  background: #0099FF;
  width:234px;
}
.suggestions-list:focus{
  outline:none;
}