<div class="info">
  <h2>Distributing Homegrown Aloha</h2>
</div>
<div class="events">
  <div class="eventsmain">
     <div class="eventscontent" ng-repeat="event in Events">
      <div class="eventscolumn">
        <div>
          <br>
          Name:<input value="{{event.name}}" ng-model="event.name">
          <br>
          Address:<input value="{{event.address}}" ng-model="event.address">
          <br>
          Days:<input value="{{event.days}}" ng-model="event.days">
          <br>
          Time:<input value="{{event.time}}" ng-model="event.time">
        </div>
      <!-- Admin will eventually be able to edit events -->
       <!--  <form ng-submit="submitEdit(card)"> -->
        <!-- Priority:<input class="card_priority" value="{{card.priority}}" ng-model="card.priority">
        <br>
        Created By: <label class="card_createdBy">{{card.createdBy.first_name}} {{card.createdBy.last_name}}</label>
        <br>
        Assigned To:<input class="card_assignedTo" value="{{card.assignedTo}}" ng-model="card.assignedTo">
        <br><br>
          <input type="submit" value="Edit" class="button">
        </form -->
      </div>
    </div>
  </div>
</div>