<div class="loginMainWrapper">
  <div class="chooseLoginWrapper">
    <div class="chooseVendor"></div>
    <div class="chooseUser"></div>
  </div>


  <div class="loginWrapper">
    <div class="loginTitle">
      <span>VENDOR LOGIN</span>
    </div>
    <div class="vendorLoginLogo"></div>
    <div class="loginForm">
      <form>
        COMPANY USERNAME:
        <br>
        <input class="vendor_name" value="" ng-model="vendor.username">
        <br>
        <br>
        PASSWORD:
        <br>
        <input class="vendor_password" value="" ng-model="vendor.password">
        <br>
        <br>
        <input class="loginSubmitBtn" type="submit" value="Login" ng-click="loginVendor(vendor)">
      </form>
    </div>
  </div>

  <div class="error">{{error}}</div>

<div>
  <h1>User Login</h1>
</div>
<div class="login">
  <form>
    <br>
    email:<input class="user_email" value="" ng-model="user.email">
    <br>
    Password:<input class="user_password" value="" ng-model="user.password">
    <br><br>
    <input type="submit" value="Login" class="button" ng-click="loginUser(user)">
  </form>
  <!-- <div class="error">{{error}}</div> -->

</div>