 <!--  <fieldset>
    <h2>User Registration</h3>

    <label for="user_username">username</label>
    <input id="user_usernme "type="text" ng-model="user.username">
    <br> -->

   <!--  with angular to check if user already exists with the search filter -->

   <!--  <label for="user_password">password</label>
    <input id="user_password"type="text" ng-model="user.password">
    <br>

    <label for="user_verifyPassword">verify Pw</label>
    <input id="user_verifyPassword "type="text" ng-model="user.verifyPassword">
    <br>

    <div class="commit">
      <button type='button' ng-click='registerUser(user)'>register</button>
    </div>

  </fieldset>
 -->
  <h4>http://loremflickr.com/320/240/dog</h4>

 <fieldset>
   <h2>Event Registration</h2>

   <label for="event_name">Event Name</label>
   <input id="event_name "type="text" ng-model="event.name">
   <br>

   <label for="event_address">Location</label>
   <input id="event_address "type="text" ng-model="event.address">
   <br>

   <label for="event_days">Days</label>
   <input id="event_days "type="text" ng-model="event.days">
   <br>

   <label for="event_time">Time</label>
   <input id="event_time "type="text" ng-model="event.time">
   <br>

   <label for="event_picture">Event Picture</label>
   <input id="event_picture "type="text" ng-model="event.event_picture">
   <br>

   <div class="commit">
      <button type='button' ng-click='registerEvent(event); event=null'>Register</button>
    </div>

 </fieldset>

  <fieldset ng-controller="VendorController">
    <h2>Vendor Registration</h3>

    <label for="vendor_name">Company Name</label>
    <input id="vendor_name "type="text" ng-model="vendor.name">
    <br>

    <!--  with angular to check if user already exists with the search filter -->

    <label for="vendor_password">Password</label>
    <input id="vendor_password "type="text" ng-model="vendor.password">
    <br>

    <label for="vendor_verifyPassword">Retype Password</label>
    <input id="vendor_verifyPassword "type="text" ng-model="vendor.verifyPassword">
    <br>

    <label for="vendor_phone">Phone Number</label>
    <input id="vendor_phone "type="text" ng-model="vendor.phone">
    <br>

    <label for="vendor_email">Email</label>
    <input id="vendor_email"type="text" ng-model="vendor.email">
    <br>

    <label for="vendor_website">Website</label>
    <input id="vendor_website"type="text" ng-model="vendor.website">
    <br>

    <label for="vendor_description"> Company Description</label>
    <input id="vendor_description "type="text" ng-model="vendor.description">
    <br>

    <label for="vendor_company_pic">Company Picture</label>
    <input id="vendor_company_pic" type="text" ng-model="vendor.company_pic">
    <br>

    Select Event:
    <select type="text" name="eventSelect" id="eventSelect" ng-model="vendor.EventId">
      <option ng-repeat="event in Events" | orderBy:"name" value="{{event.id}}">{{event.name}}</option>
    </select>
    <hr>
    <input id="vendor_EventId" type="hidden" ng-model="vendor.EventId"></input>
   <div class="error">{{error}}</div>
    <div class="commit">
      <button type='button' ng-click='registerVendor(vendor)'>Register</button>
    </div>

  </fieldset>
