* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  display: flex;
  flex-flow: row wrap;
  background-image: url("./../images/charcoal-bg.png");
  justify-content: center; }

.mainTitleBar {
  height: 50px;
  width: 100%;
  background-color: #0F0F0E;
  font-family: "Montserrat", sans-serif;
  color: #575450;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  position: fixed;
  z-index: 1; }
  .mainTitleBar .mobileNav {
    position: fixed;
    top: 0%;
    right: 0%;
    height: 50px;
    width: 50px; }
    @media (min-width: 421px) {
      .mainTitleBar .mobileNav {
        display: none; } }
    .mainTitleBar .mobileNav .hamburgerHack1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 20px;
      width: 20px;
      border-top: 2px solid #575450;
      border-bottom: 2px solid #575450; }
      .mainTitleBar .mobileNav .hamburgerHack1 .hamburgerHack2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 15px;
        border: 1px solid #575450; }

.mobileMenu {
  width: 100px;
  position: fixed;
  top: 50px;
  right: 0;
  background-color: #0F0F0E;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 5px;
  font-size: 1.0em;
  z-index: 100;
  height: 0;
  opacity: 0;
  transition: height 0.25s linear;
  transition: opacity 0.25s linear; }
  @media (min-width: 421px) {
    .mobileMenu {
      display: none; } }
  .mobileMenu ul {
    height: 0;
    opacity: 0; }
  .mobileMenu li {
    list-style-type: none;
    border-top: 1px solid #575450;
    height: 0;
    opacity: 0; }
  .mobileMenu a {
    text-decoration: none;
    color: #575450;
    height: 0;
    opacity: 0; }

.mobileMenu.menuOn {
  height: 70px;
  opacity: 1; }
  .mobileMenu.menuOn ul {
    height: auto;
    opacity: 1; }
  .mobileMenu.menuOn li {
    height: auto;
    opacity: 1; }
  .mobileMenu.menuOn a {
    height: auto;
    opacity: 1; }

.navbarButtonContainer {
  display: flex;
  flex-flow: row wrap;
  position: fixed;
  top: 0%;
  right: 0%;
  height: 50px;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  z-index: 1; }
  @media (max-width: 420px) {
    .navbarButtonContainer {
      display: none; } }
  .navbarButtonContainer .navbarButton {
    font-size: 0.8em;
    font-weight: 700;
    margin-right: 10px;
    align-self: center; }
    .navbarButtonContainer .navbarButton a {
      color: #F4F3D5;
      text-decoration: none;
      transition: 0s ease; }

.view {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  margin-top: 60px; }

.eventsContent {
  flex: 0 0 80%;
  margin: 20px 0px;
  box-shadow: 3px 3px 5px 6px #484541; }

@media (min-width: 421px) and (max-width: 768px) {
  .eventsContent {
    flex: 0 0 39%;
    margin: 15px; } }
  @media (min-width: 769px) {
    .eventsContent {
      flex: 0 0 29%;
      margin: 15px; } }
  .eventsContent a {
    text-decoration: none; }

.eventContainer {
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  width: 100%;
  background-image: url("./../images/tan-bg.jpg");
  text-align: center;
  justify-content: center; }
  .eventContainer .eventTopHalf {
    position: relative;
    flex: 0 0 100%;
    height: 50%; }
    .eventContainer .eventTopHalf .eventName {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Six Caps", sans-serif;
      color: #575450;
      font-size: 4em;
      line-height: 110%;
      padding: 5% 10%; }
  .eventContainer .separatorLine {
    height: 0.5%;
    flex: 0 0 50%;
    background-color: #e0dfc1; }
  .eventContainer .eventBottomHalf {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 100%;
    height: 50%;
    font-family: "Montserrat", sans-serif;
    color: #575450;
    justify-content: center;
    font-size: 0.7em;
    font-weight: 700;
    line-height: 90%; }
    .eventContainer .eventBottomHalf .eventDays {
      flex: 0 0 100%;
      margin-top: 7%; }
    .eventContainer .eventBottomHalf .eventTimes {
      flex: 0 0 100%; }
    .eventContainer .eventBottomHalf .eventLocation {
      flex: 0 0 100%;
      height: 20%; }
    .eventContainer .eventBottomHalf .eventLogo {
      flex: 0 0 30%;
      height: 30%;
      margin-bottom: 7%;
      background-image: url("./../images/leaves.svg");
      background-size: cover; }

.eventVendorsMain {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  font-family: Arial; }

.vendorNavBar {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100%;
  margin: 3px 0px;
  justify-content: center;
  align-content: space-between; }
  .vendorNavBar a {
    text-decoration: none; }

.listingButton {
  flex: 0 0 15%;
  font-size: 30px;
  text-align: center;
  opacity: 0.90;
  color: #E7DDD4;
  box-shadow: 2px 2px #221F1C;
  border: 1px solid red; }

.listingButton.vendorButton {
  margin-right: 1px;
  text-shadow: 1px 1px 2px #361D06;
  box-shadow: 2px 2px 2px #361D06;
  background-repeat: no-repeat; }

.listingButton.productButton {
  margin-left: 1px;
  background-color: #8DAD8B;
  border: 1px solid #0D2D05;
  text-shadow: 1px 1px 2px #0D2D05;
  box-shadow: 2px 2px 2px #0D2D05; }

.vendorTab {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.vendorListingCard {
  height: 250px;
  width: 95%;
  margin: 5px 0px;
  border: 1px solid #361D06;
  border-radius: 5px;
  text-shadow: 2px 2px 3px #361D06;
  box-shadow: 2px 2px 2px #361D06; }

.vendorContent {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  width: 100%;
  height: 250px; }

.vendorCompanyName {
  flex: 0 0 100%;
  height: 15%;
  font-size: 1.5em;
  background-color: #896544;
  color: #E7DDD4;
  opacity: 0.90;
  text-align: center;
  padding-top: 4px; }

.vendorCompanyPic {
  flex: 0 0 75%;
  height: 85%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.featuredProducts {
  flex: 0 0 25%;
  height: 85%; }

.productPics {
  flex: 0 0 60%;
  height: 50%; }

.allProductsList {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  border: 1px solid blue; }

.productBox {
  flex: 0 0 50%;
  height: 100px;
  border: 1px solid orange; }

.productContent {
  flex: 0 0 50%;
  border: 1px solid red; }

.productPic {
  flex: 0 0 100%;
  height: 75%;
  border: 1px solid green; }

.productName {
  flex: 0 0 100%;
  height: 75%;
  border: 1px solid purple; }

.vendorPrivatePage {
  justify-content: left; }

.postProductDiv {
  margin-top: 20px; }

.vendorHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #F4F3D5;
  height: 400px;
  width: 100%; }
  .vendorHeader .vendorName {
    flex: 0 0 100%;
    text-align: center;
    font-size: 5em;
    font-family: "Six Caps", sans-serif;
    margin-top: 25px;
    margin-bottom: -25px;
    color: #575450; }
  .vendorHeader .vendorGraphic {
    background-image: url("./../images/leaves-and-lines.svg");
    background-repeat: no-repeat;
    width: 250px; }
  .vendorHeader .vendorDays {
    flex: 0 0 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #575450;
    margin-top: 15px; }
  .vendorHeader .vendorTime {
    flex: 0 0 100%;
    text-align: center;
    margin-top: -40px;
    font-family: "Montserrat", sans-serif;
    color: #575450; }
  .vendorHeader .vendorAddress {
    flex: 0 0 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #575450;
    margin-top: -35px; }
